:root {
    --primary-color: white;
    --large-font-size: 36px;
    --medium-font-size: 24px;
    --minimal-font-size: 16px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,rgba(255, 95, 59, 0.79) 1%, 
                                    rgba(14, 16, 67, 0.96) 15%, 
                                    rgba(14, 16, 67, 0.93) 85%, 
                                    rgba(255, 95, 59, 0.86) 100%);
    color: var(--primary-color);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 0 8px;
}

main{
    height: 100%;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px 8px 8px;

}

.main-div{
    flex-grow: 1;
}

.books-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* ---------- Card --------------------------------------------------------- */
/* .book-display{
    background: linear-gradient(90deg,rgba(255, 0, 13, 1) 0%, rgba(250, 204, 0, 1) 50%, rgba(255, 0, 13, 1) 100%);
    width: 280px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.book-card{
    background-color: rgb(70 61 178);
    width: 280px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.book-title{
    font-size: var(--large-font-size);
}

.book-image{
    height: 100px;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0 40px);
}

.price-likes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.book-card-details{
    width: 100%;
}

.book-card-row{
    display: flex;
}

.book-card-left-side{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    height: 20px;
    width: 128px;
}

.book-card-right-side{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    width: 100%;
    overflow-x: auto;
}

.font-bold{
    font-weight: 800;
}

.comments-display{
    width: 100%;
    height: 20px;
    flex-grow: 1;
    padding: 8px;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-y: scroll;
}

.comment{
    display: flex;
}

.comment-first{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    width: 128px;
        height: auto;
    overflow-x: hidden;
}

.commnet-second{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    height: auto;
    overflow-x: hidden;
}


.share-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 8px ;
}

.comment-input{
    width: 240px;
    height: 16px;
}

.comment-icon{
    width: 24px;
    height: 24px;
}