:root {
    --primary-color: white;
    --large-font-size: 28px;
    --medium-font-size: 24px;
    --minimal-font-size: 16px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,rgba(255, 95, 59, 0.79) 1%, 
                                    rgba(14, 16, 67, 0.96) 5%, 
                                    rgba(14, 16, 67, 0.93) 95%, 
                                    rgba(255, 95, 59, 0.86) 100%);
    color: var(--primary-color);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 0 8px;
}

main{
    height: 100%;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px 8px 8px;

}

.main-div{
    flex-grow: 1;
}

.books-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* ---------- Card --------------------------------------------------------- */
/* .book-display{
    background: linear-gradient(90deg,rgba(255, 0, 13, 1) 0%, rgba(250, 204, 0, 1) 50%, rgba(255, 0, 13, 1) 100%);
    width: 280px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.book-card{
    background-color: rgb(70 61 178);
    width: 280px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0px 18px rgb(255 137 112);
}

.book-title{
    font-size: var(--large-font-size);
    height: 64px;
    overflow: auto;
}

.book-image{
    height: 100px;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0 40px);
}

.price-likes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price{
    font-size: var(--large-font-size);
    font-weight: 600;
    color: rgb(255 137 112);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 16px 0;
}

.likes-combo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 16px 0;
    gap: 8px;
}

.likes{
    font-size: var(--minimal-font-size);
}

.likes-icon{
    width: 28px;
    height: 28px;
}

.book-card-details{
    width: 100%;
}

.book-card-row{
    display: flex;
}

.book-card-left-side{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    height: 20px;
    width: 128px;
}

.book-card-right-side{
    font-size: var(--minimal-font-size);
    font-weight: 100;
    width: 100%;
}


.font-bold{
    font-weight: 800;
}

.comments-display{
    width: 100%;
    height: 20px;
    flex-grow: 1;
    padding: 8px;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rgb(55 48 144) transparent;
    scrollbar-width: thin;
}

.comment{
    display: flex;
}


.share-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.comment-input{
    width: 240px;
    height: 16px;
}

.comment-icon{
    width: 24px;
    height: 24px;
}

.seperator{
    text-align: left;
    width: 10px;
}

.make-red{
    filter: invert(18%) sepia(99%) saturate(7496%) hue-rotate(1deg)
            brightness(102%) contrast(106%);
}